@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 65%;

}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #06141B;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 4rem;
    color: #9BA8AB;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5 ease;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo.hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 8rem;
    font-weight: 500;
    transition: 0.3s ease;
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: #CCD0CF;
    border-bottom: 3px solid #CCD0CF;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #CCD0CF;
        border-bottom: 3px solid #CCD0CF;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #06141B;
        border-top: 0.1rem solid #06141B;
    }

    nav.active{
        display: #06141B;
    }

    nav a{
        display: #06141B;
        font-size: 2rem;
        margin: 2rem 0;
    }

    nav a:hover,
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #CCD0CF;
    }
}

section{
    min-height: 60vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #06141B;
    margin-bottom: 20px;
}

.home, .programs {
    padding-bottom: 0;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

span{
    color: #9BA8AB;
}

.home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

.home-content p{
    font-size: 2rem;
    cursor: default;
}

.home-img{
    border-radius: 100%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 100%;
    box-shadow: 0 0 25px solid #CCD0CF;
    cursor: default;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    background-color: 1.2rem solid #CCD0CF;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #4A5C6A;
    text-decoration: none;
}

.social-icons a:hover{
    background-color: #06141B;
    transform: scale(1.3) translateY(-5px);
    background-color: #CCD0CF;
    box-shadow: 0 0 25px #CCD0CF;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #06141B;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: #4A5C6A;
    letter-spacing: 0.3rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #4A5C6A;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;

}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #CCD0CF;
    color: #9BA8AB;
    box-shadow: 0 0 25px #CCD0CF;
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}


.programs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #06141B;
    margin-top: -10px;
}

.prog-content h4{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.5;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

.prog-content p{
    font-size: 2rem;
    cursor: default;
}

.btn-prog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.btn-prog a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    background-color: 1.2rem solid #CCD0CF;
    font-size: 2rem;
    border-radius: 50%;
    margin: 1rem 0;
    transition: 0.3s ease;
    color: #4A5C6A;
    text-decoration: none;
    flex-direction: column;
    margin-right: 1rem;
}

span1{
    color: #9BA8AB;
}

.btn-prog span1 {
    margin-left: 0;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 1000;
}

.btn-prog a:hover {
    background-color: #06141B;
    transform: scale(1.3) translateY(-5px);
    background-color: #CCD0CF;
    box-shadow: 0 0 25px #CCD0CF;
}

.about-site{
    margin-bottom: -20px;
}

.about-site h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #06141B;
    margin-bottom: 10px;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    font-weight: 1500;
}

.about-site h3{
    cursor: default;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

span4{
    color: rgb(107, 107, 107);
}

.about-site span4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #06141B;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;

}

.about-site a{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 700;
}

